[submodule "modules/common"]
	path = modules/common
	url = https://github.com/iromu/weplay-common.git
	branch = develop
[submodule "modules/emulator"]
	path = modules/emulator
	url = https://github.com/iromu/weplay-emulator.git
	branch = develop
[submodule "modules/rom"]
	path = modules/rom
	url = https://github.com/iromu/weplay-rom.git
	branch = develop
[submodule "modules/web"]
	path = modules/web
	url = https://github.com/iromu/weplay-web.git
	branch = develop
[submodule "modules/discovery"]
	path = modules/discovery
	url = https://github.com/iromu/weplay-discovery.git
	branch = develop
[submodule "modules/compressor"]
	path = modules/compressor
	url = https://github.com/iromu/weplay-compressor.git
	branch = develop
[submodule "modules/io"]
	path = modules/io
	url = https://github.com/iromu/weplay.git
	branch = develop
